:root {
    --fondo: #0f172a;           /* Color base para transparencias */
    --card: #1e293b;            /* Color de los contenedores */
    --acento: #22d3ee;          /* Cian neón para resaltar */
    --texto: #f8fafc;           /* Blanco azulado */
    --texto-secundario: #94a3b8; /* Gris azulado */
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--texto);
    background-image: url("../IMG/fondo_batalla1.webp");
}


.layout-principal {
    display: grid;
    grid-template-rows: 70px 1fr 70px; 
    height: 100vh;
    width: 100vw;
}


.seccion-superior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 23, 42, 0.6); 
    border-bottom: 2px solid rgba(34, 211, 238, 0.3); 
}

.espacio-cronometro {
    background-color: var(--card);
    padding: 6px 20px;
    border-radius: 4px;
    border: 1px solid var(--acento);
    color: var(--acento);
    font-weight: bold;
    box-shadow: 0 0 10px rgba(34, 211, 238, 0.2);
}

.seccion-central {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zona-tableros {
    display: flex;
    gap: 40px;
}

.modulo-tablero {
    background-color: rgba(30, 41, 59, 0.7); 
    backdrop-filter: blur(5px);
    border: 1px solid rgba(148, 163, 184, 0.2);
    border-radius: 12px;
    min-width: 650px;
    height: 550px;
}

.header-tablero {
    padding: 12px;
    text-align: center;
    background-color: rgba(15, 23, 42, 0.5);
    color: var(--texto-secundario);
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
}


.header-tablero.ataque {
    background-color: var(--acento);
    color: var(--fondo);
}

.cuerpo-tablero {
    padding: 10px;
    width: 97%;
    height: 88%;
}

.seccion-inferior {
    display: flex;
    align-items: center;
    padding: 0 40px;
    background-color: rgba(15, 23, 42, 0.7);
    border-top: 2px solid rgba(34, 211, 238, 0.3)
}

.barra-acciones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boton-accion {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid var(--acento);
    color: var(--acento);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.boton-accion:hover {
    background-color: var(--acento);
    color: var(--fondo);
}

.boton-config {
    background: none;
    border: none;
    font-size: 1.4rem;
    color: var(--texto-secundario);
    cursor: pointer;
}

.celda-previsualizacion {
    border: 1px solid rgba(34, 211, 238, 0.15); /* Cian muy suave */
    background-color: rgba(34, 211, 238, 0.03);
    overflow: hidden; 
    min-width: 0;
    min-height: 0;
}

#contenedor-ia{
    cursor: pointer;
    transition: 0.9s ease;
}

/* 1. DISPARO AL AGUA (Fallo) */
.agua {
    background-color: rgba(56, 189, 248, 0.2); 
    box-shadow: inset 0 0 10px rgba(56, 189, 248, 0.4); /* Profundidad */
    border-color: rgba(56, 189, 248, 0.3);
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede volver a tirar ahí */
    animation: salpicadura 0.3s ease-out; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* 2. DISPARO ACERTADO (Impacto / Tocado) */
.tocado {
    background-color: rgba(239, 68, 68, 0.6);
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.8), inset 0 0 10px rgb(101, 26, 26); 
    border-color: #ef4444;
    cursor: not-allowed;
    animation: explosion 0.4s ease-out forwards; /* Animación de explosión */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: clamp(8px, 1.5vw, 1.2rem); 
    line-height: 1; /* Evita que el texto genere márgenes invisibles */

}

.agua::after {
    content: "✕";
    text-shadow: 0 0 5px white;
}
.tocado::after {
    content: "🔥";
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

/* Efecto de explosión (se agranda un poco y brilla más) */
@keyframes explosion {
    0% { transform: scale(1); }
    50% { 
        transform: scale(1.2); 
        background-color: rgba(239, 68, 68, 0.9);
        box-shadow: 0 0 25px rgba(239, 68, 68, 1);
        z-index: 10;
    }
    100% { transform: scale(1); }
}

/* Efecto de salpicadura (se hunde un poquito) */
@keyframes salpicadura {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.portaviones{
    background-color: rgb(162, 173, 175);;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.96);
}

.destructores{
    background-color: rgba(8, 171, 41, 0.425);
    box-shadow: 0 0 10px rgba(8, 171, 41, 0.5); 
}   

.acorazados{
    background-color: rgba(180, 35, 35, 0.655);
    box-shadow: 0 0 10px rgb(234, 13, 13); 
}

.submarinos{
    background-color: rgba(255, 217, 0, 0.589);
    box-shadow: 0 0 10px rgba(240, 253, 1, 0.801); 
}

.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px); 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: var(--fondo);
    border: 2px solid var(--acento); 
    box-shadow: 0 0 5px var(--acento); 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    color: white;
}

.modal-contenido h3 {
    color: #ef4444;
    margin-top: 0;
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgba(239, 68, 68, 0.8);
}

.modal-botones {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 15px;
}

.boton-peligro {
    background-color: var(--acento);
    color: var(--texto);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}
.boton-peligro:hover {
    box-shadow: 0 0 5px var(--acento);
}

.boton-secundario {
    background-color: transparent;
    color: #94a3b8;
    border: 1px solid #94a3b8;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}
.boton-secundario:hover {
    color: white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
}


.modal-contenido.final-game {
    max-width: 550px;
    border: 2px solid #22d3ee;
    background: linear-gradient(145deg, #0f172a, #1e293b);
    padding: 40px;
}

#resultado-titulo {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.victoria-texto { color: #22d3ee; text-shadow: 0 0 20px #22d3ee; }
.derrota-texto { color: #ef4444; text-shadow: 0 0 20px #ef4444; }

.divisor-neon {
    height: 4px;
    width: 100%;
    background: #22d3ee;
    margin: 15px 0 30px;
    box-shadow: 0 0 10px #22d3ee;
}

.seccion-ranking {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
}

.tabla-ranking {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-ranking th {
    color: #94a3b8;
    text-align: left;
    padding-bottom: 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
}

.tabla-ranking td {
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    font-family: 'Courier New', monospace;
}

/* Resaltar al Nro 1 */
.tabla-ranking tr:first-child td {
    color: #fbbf24; /* Dorado */
    font-weight: bold;
}

.boton-inicio {
    background: #22d3ee;
    color: #0f172a;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.boton-inicio:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(34, 211, 238, 0.4);
}

h4{
    margin-top: 0%;
}