body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(231, 154, 183), rgb(148, 183, 235));
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}